:root {
    --naranja: #FF5757;
    --morado: #8C52FF;
    --gris: #2C282F;
    --gris-oscuro: #1D1B20;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--gris);
}

/**************************************** Header ************************************/
header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    background-image: linear-gradient(to right, var(--naranja) 0%, var(--morado) 100%);
}

/* Logo */
.logo {
    display: flex;
}

.logo h1 {
    font-family: 'Kaushan Script', cursive;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
}

/* Navegación */
nav {
    display: flex;
    align-items: center;
}

.navegación-principal {
    display: flex;
    gap: 1rem;
}

.navegación-principal a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    padding: 15px;
}

a:hover {
    color: white;
    background-color: rgb(0 0 0 / 20%);
}

.navegación-principal li {
    list-style: none;
    text-decoration: none;
}

/* Navegación-Dropdown */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    background-color: var(--gris);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: var(--gris-oscuro);
}

.dropdown:hover .dropdown-content {
    display: block;
  }

/***************************************** Imagen ************************************/
.contenedor-imagen {
    
}


.imagen {
    max-width: 100%;
    height: auto;
} 


/**************************************** Cartelera **********************************/
.cartelera {
    
    color: white;
}

.cartelera h2 {
    text-align: center;
    padding: 1rem;
}

.contenedor-peliculas {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.imagen-pelicula {
    height: 450px;
    border-radius: 5%;
}

.titulo-pelicula {
    text-align: center;
}

/*----------------------------------------------------------------------------------------*/
/**************************************** SOBRE NOSOTROS **********************************/
/*----------------------------------------------------------------------------------------*/
.contenedor-principal-nosotros {
    padding: 2rem 8rem 2rem 4rem;
    background-image: linear-gradient(to top, rgb(218, 218, 218) 0%, white 100%);

}

.contenedor-secundario-nosotros {
    margin-bottom: 3rem;
}

.contenedor-secundario-nosotros h2 {
    color: var(--naranja);
    font-size: 1.8rem;
    font-weight: 600;
}

.contenedor-secundario-nosotros h3 {
    color: var(--morado);
    font-size: 1.4rem;
    font-weight: 600;
}

.contenedor-secundario-nosotros p {
    text-align: justify;
    font-size: 1.1rem;
}


/**************************************** Footer **********************************/
footer {
    background-color: var(--gris-oscuro);
    height: 400px;
}

footer p {
    color: white;
}

.copyright {
    text-align: center;
    align-items: end;
}

.contenido-footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.imagenes-footer {
    display: flex;
    flex-direction: column;
}

.imagen-footer {
    height: 100px;
}

.telefono {
    font-size: 2rem;
    font-weight: bold;
}

.iconos-redes-sociales {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
}